@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.PostsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 100%;
}

.PostContainer {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.PostItem {
    padding: 20px 50px;
}
.Title{
    font-family: 'Oswald', sans-serif;
}
.Content{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
.Author {
    font-family: 'Roboto Condensed', sans-serif;
}

.PaginatorContainer {
    display: block;
    font-size: 20px;
    text-align: center;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}
.PaginatorContainer span {
    margin-left: 5px;
}

.PaginatorActiveItem{
    display: inline-block;
    background-color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    color: #000;
}