.PreviewWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
    background-color: #100e17;
}

.Item {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: palevioletred;
}

.signIn {
    width: 400px;
    height: 400px;
    background: url("../../Assets/Images/signIn.png");
}

.signIn:hover p {
    opacity: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

.signUp {
    width: 400px;
    height: 400px;
    background: url("../../Assets/Images/signUp.png");
}

.signUp:hover p {
    opacity: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

.Incognito {
    width: 400px;
    height: 400px;
    background: url("../../Assets/Images/incognito.png");
}

.Incognito:hover p {
    opacity: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    cursor: pointer;
}
