.MainWrapper {
    min-height: 100vh;
    background-color: #100e17;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-areas: "h h h" "n c c" "f f f";
}

.HeaderWrapper {
    grid-area: h;
    display: flex;
    align-items: center;
    border-bottom: #ccc 1px solid;
}

.NavBarWrapper {
    grid-area: n;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: #ccc 1px solid;
}

.ContentWrapper {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    padding-top: 10px;
}

.FooterWrapper {
    margin-top: 5px;
    border-top: #ccc 1px solid;
    grid-area: f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}