.HeaderWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    width: 100%;
}

.HeaderNavContainer{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.userLoginTextContainer{
    width: 20%;
}