.MainWrapper {
    height: 100vh;
    background-color: #ccc;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-areas: "h h h" "n c c" "f f f";
}

.HeaderWrapper {
    grid-area: h;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBarWrapper {
    grid-area: n;
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContentWrapper {
    grid-area: c;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterWrapper {
    grid-area: f;
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}