.PostsWrapper {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 100%;

}

.PostContainer {
    height: 90%;
    display: flex;
    flex-direction: column;justify-content: center;
    width: 100%;
}

.PostItem {
    padding: 20px 50px;

}

.PaginatorContainer {
    display: flex;
    font-size: 20px;
}

.PaginatorActiveItem {
    color: #e51800;
}