.PostsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 100%;

}

.PostContainer {
    height: 90%;
    display: flex;
    flex-direction: column;justify-content: center;
    width: 100%;
}

.PostItem {
    padding: 20px 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;

}

.PaginatorContainer {
    display: block;
    font-size: 20px;
    text-align: center;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}

.PaginatorContainer span {
    margin-left: 5px;
}

.PaginatorActiveItem{
    display: inline-block;
    background-color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    color: #000;
}